#calculatorForm {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;

  @include break768 {
    justify-content: space-between;
  }

  @include break600 {
    flex-wrap: wrap;
  }
}

.calculator {
  margin-bottom: 95px;

  &__title {
    margin-bottom: 50px;

    @include break425 {
      margin-bottom: 24px;
    }
  }

  &__label {
    margin-right: 24px;

    @include break600 {
      font-size: 16px;
    }

    @include break425 {
      font-size: 20px;
    }
  }

  &__input-square {
    margin-bottom: 24px;

    @include break600 {
      width: 50%;
    }

    @include break425 {
      width: auto;
    }
  }

  &__input {
    border: none;
    border-bottom: 2px solid var(--color-text);
    padding-left: 15px;
    width: 100px;
    height: 35px;
    text-align: center;
    background-color: var(--color-main);

    @include break600 {
      width: 80px;
    }
  }

  &__selector {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    label {
      margin-bottom: 8px;
    }

    select {
      padding: 0 16px;
      width: 270px;
      height: 45px;
      background-color: var(--color-main);
      cursor: pointer;

      @include break600 {
        width: 100%;
        height: 30px;
      }

      @include break425 {
        height: 40px;
      }
    }

    @include break600 {
      width: 50%;
    }

    @include break425 {
      width: auto;
    }
  }

  &__radio {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;

    &-wrapper {
      display: flex;
    }

    &-title {
      margin-bottom: 8px;
      width: 100%;

      @include break600 {
        font-size: 16px;
      }

      @include break425 {
        font-size: 20px;
      }
    }

    label {
      margin-right: 24px;

      @include break425 {
        margin-right: 32px;
      }
    }

    &-box {
      position: absolute;
      width: 1px;
      height: 1px;
      opacity: 0;

      &:checked {
        + span::after {
          opacity: 1;
        }
      }
    }

    &-label {
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;

      &::before {
        content: "";
        display: inline-block;
        margin-right: 8px;
        border: 3px solid var(--color-main);
        border-radius: 100%;
        width: 20px;
        height: 20px;
      }

      &::after {
        content: "";
        position: absolute;
        left: 4px;
        top: 50%;
        border-radius: 100%;
        width: 12px;
        height: 12px;
        background-color: var(--color-main);
        opacity: 0;
        transform: translateY(-50%);
      }
    }

    @include break600 {
      width: 50%;
    }

    @include break425 {
      flex-direction: column;
      width: auto;
    }
  }

  @include break768 {
    margin-bottom: 65px;
  }

  @include break425 {
    margin-bottom: 35px;
  }
}

#calculationForm {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  max-width: 290px;
  font-size: 18px;

  @include break768 {
    max-width: 50%;
  }

  @include break600 {
    flex-flow: row wrap;
    align-items: flex-end;
    margin-bottom: 32px;
    width: 100%;
    max-width: none;
  }
}

.calculator__descr {
  display: none;
  flex-direction: column;
  max-width: 370px;
  font-family: "Lato", serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 130%;

  p {
    margin: 0;

    &:first-child {
      margin-bottom: 20px;
    }
  }

  &-list {
    list-style-image: url("../img/list-bullet.png");
    margin: 10px;
    margin-left: 30px;
  }

  &-list-item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include break768 {
    display: none;
  }
}

.descr-active {
  display: flex;

  @include break768 {
    display: none;
  }
}

.form-sending {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  width: 33.3333%;

  &__title {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;

    @include break600 {
      margin-bottom: 24px;
    }
  }

  &__input {
    margin-bottom: 24px;
    border: none;
    border-bottom: 2px solid var(--color-text);
    padding-left: 16px;
    height: 32px;
    background-color: transparent;
  }

  @include break768 {
    width: auto;
    max-width: 50%;
  }

  @include break600 {
    width: 100%;
    max-width: none;
  }
}
