.footer {
  background-color: var(--color-main);

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 24px;

    @include break320 {
      padding: 16px;
    }
  }

  &__logo {
    width: 100px;
    height: 110px;

    @include break720 {
      width: 80px;
      height: 90px;
    }

    @include break425 {
      width: 100px;
      height: auto;
    }
  }

  &__nav {
    font-family: "Lato", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    &-list {
      margin: 0;
    }

    &-item {
      margin-bottom: 16px;

      @include break320 {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-link {
      position: relative;
      color: var(--color-text);

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: var(--color-text);
        opacity: 0;
        transition: opacity 0.2s linear;
      }

      &:hover {
        &::after {
          opacity: 1;
          transition: opacity 0.2s ease;
        }
      }
    }

    @include break720 {
      font-size: 16px;
    }

    @include break425 {
      align-self: center;
      font-size: 18px;
      text-align: right;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    font-family: "Lato", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;

    &-title {
      margin-bottom: 8px;
    }

    @include break720 {
      font-size: 16px;
    }

    @include break425 {
      width: 50%;

      & &-item:nth-child(4) {
        align-items: center;

        .contacts-item__link {
          width: 150px;
        }
      }
    }

    @include break320 {
      width: 50%;
      font-size: 14px;

      & &-item:nth-child(4) {
        align-items: center;

        .contacts-item__link {
          width: 130px;
        }
      }
    }
  }

  &__under {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;

    &-copyright {
      display: flex;
      align-items: flex-end;
      font-family: "Lato";
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: rgba(26, 33, 18, 0.3);

      @include break720 {
        font-size: 12px;
      }

      @include break655 {
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 16px;
      }

      @include break425 {
        align-items: flex-start;
        margin-top: 24px;
      }
    }

    &-text {
      @include break768 {
        width: 210px;
      }

      @include break425 {
        width: auto;
      }

      @include break320 {
        width: 210px;
        text-align: left;
      }
    }

    &-privacy {
      display: block;
      margin-left: 35px;
      font-family: "Lato";
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      text-decoration-line: underline;
      color: rgba(26, 33, 18, 0.3);
      transition: color 0.2s linear;

      &:hover {
        color: var(--color-text);
        transition: color 0.2s linear;
      }

      @include break425 {
        margin-left: 0;
      }
    }

    &-author {
      font-family: "Lato";
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: rgba(26, 33, 18, 0.3);
      transition: color 0.2s linear;

      a {
        text-decoration-line: underline;
        color: currentColor;
      }

      &:hover {
        color: var(--color-text);
        transition: color 0.2s linear;
      }

      @include break480 {
        white-space: nowrap;
      }
    }

    @include break720 {
      margin-top: 16px;
    }

    @include break655 {
      flex-direction: column;
      align-items: flex-end;
      margin-top: auto;
      width: 50%;
      text-align: right;
    }

    @include break425 {
      align-items: flex-start;
      width: 100%;
    }
  }
}

.contacts-item {
  display: flex;

  a {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 2px;
      background-color: var(--color-text);
      opacity: 0;
      transition: opacity 0.2s linear;
    }

    &:hover {
      &::after {
        opacity: 1;
        transition: opacity 0.2s ease;
      }
    }
  }

  &__icon {
    margin-right: 8px;
    width: 20px;
    height: 20px;

    @include break320 {
      width: 18px;
      height: 18px;
    }
  }

  &__link {
    position: relative;
    margin-bottom: 8px;
    color: var(--color-text);
  }

  @include break425 {
    font-size: 14px;
  }

  @include break320 {
    font-size: 12px;
  }
}

.social {
  display: flex;
  flex-direction: column;

  &__link {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    &:nth-child(3) {
      margin-bottom: 0;
    }
  }

  &__icon {
    margin-right: 8px;
    width: 24px;
    height: 24px;

    @include break320 {
      margin-right: 4px;
      width: 20px;
      height: 20px;
    }
  }

  &__name {
    position: relative;
    font-family: "Lato";
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-text);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 2px;
      background-color: var(--color-text);
      opacity: 0;
      transition: opacity 0.2s linear;
    }

    &:hover {
      &::after {
        opacity: 1;
        transition: opacity 0.2s ease;
      }
    }

    @include break320 {
      font-size: 12px;
    }
  }

  @include break655 {
    width: 50%;
  }

  @include break425 {
    align-self: center;
    width: auto;
  }

  @include break320 {
    font-size: 12px;
  }
}
