html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;

  // li {
  //   position: relative;
  // }

  // li::before {
  //   content: "";
  //   position: absolute;
  //   left: -0.9em;
  //   top: 0.25em;
  //   display: inline-block;
  //   width: 10px;
  //   height: 10px;
  //   background-color: var(--color-main);
  // }
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
  overflow: hidden;
}

.stop-scroll {
  @include stop-scroll;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.visually-hidden {
  @include visually-hidden;
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

h2 {
  margin: 0;
  margin-bottom: 1.5rem;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 3rem;
  line-height: 100%;

  @include break1000 {
    font-size: 36px;
  }

  @include break480 {
    font-size: 28px;
  }

  @include break375 {
    margin-bottom: 16px;
    font-size: 22px;
  }
}
