@import "vars";
@import "mixins";
@import "fonts";
@import "vendor";
@import "settings";

// CUSTOM COMPONENTS STYLES
.burger {
  --burger-width: 40px;
  --burger-height: 25px;
  --burger-line-height: 5px;

  @include burger;

  border: none;
  color: var(--color-main);
  background-color: inherit;
}

@import "./components/header";
@import "./components/hero";
@import "./components/services";
@import "./components/divider";
@import "./components/packages";
@import "./components/advantages";
@import "./components/calculator";
@import "./components/footer";
@import "./components/modal";